<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0;">
<title>關於我們</title>
</head>
<style>
img
{          
height: auto; 
max-width: 100%; 
}  

</style>
<body>
<p>網工班-DC101</p>
<p><img src="{{url_for('static', filename='us.jpg')}}" width="828" height="621" longdesc="us.jpg" /></p>
</body>
</html>
